<div class="wiki-show">
  <h1> <%= markdown(@wiki.title) %> </h1>
    <small>
      submitted <%= time_ago_in_words(@wiki.created_at) %>
    </small>
    <div class="col-md-16">
      <p><%= markdown(@wiki.body) %></p>
      <%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-primary' %>

      <div class="user-info pull-right">
      <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
      </div>
    </div>

    <% content_for :analytic do %>
      <script type="text/javascript"> $(document).ready(function(){ blocmetrics.report("Wiki Show"); }); </script>
    <% end %>
